@import url('variaveis.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--cor-projeto);
    color: var(--cor-fundo);
}
.circle {
    background-color: var(--cor-projeto);
    animation: growCircleInicio .7s forwards;
    border-top-left-radius: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
}

@keyframes growCircleInicio {
    0% {
        width: 200vw;
        height: 200vw;
    }
    100% {
        width: 0vw;
        height: 0vw;
    }
}

.circle.grow {
    animation: growCircleFinal .7s forwards;
}

@keyframes growCircleFinal {
    0% {
        width: 0vw;
        height: 0vw;
    }
    100% {
        width: 200vw;
        height: 200vw;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--cor-projeto);
    width: 100%;
    position: fixed;
    transition: .5s;
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.1);
    z-index: 11;
}

header.rolagem {
    padding: 15px 40px;
}

.logo {
    height: 50px;
}

header button {
    display: none;
}

.menu {
    width: 100%;
}
.menu ul{
    list-style-type: none;
    display: flex;
    justify-content: end;
    margin-right: 0;
    max-width: 100%;
}
.menu li {
    padding: 0 20px;
}

.menu a {
    text-decoration: none;
    color: var(--cor-fundo);
    width: 100%;
}
.menu a:hover {
    color: var(--cor-hover2);
    transition: color 0.3s ease;
}
.menu a {
    text-decoration: none;
    color: var(--cor-fundo);
    position: relative;
}

.menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    bottom: -5px;
    left: 50%;
    transition: width 0.3s ease, left 0.3s ease;
}

.menu a:hover::after {
    width: 100%;
    left: 0;
}

.menu a:hover {
    color: var(--cor-hover2);
}



/* Imagem de fundo */
body::before {
    content: "";    
    position: fixed; /* pra imagem sempre ser o centro da página */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../imagens/membros/imagem_fundo.png') no-repeat center center; /* url da imagem */
    background-size: cover; /* faz a imagem cobrir toda página, amplia ela */
    opacity: 1; /* deixa um pouco transparente */
    pointer-events: none;
    z-index: -1;
}


main{
    padding-top: 100px; /* padding é espaço entre os elementos e as bordas, uma margem */
}
main h1 {
    text-align: center;
    padding: 50px;
}

.grid-container {
    padding-left: 8%;
    padding-right: 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* (nº de coluna, largura da coluna) */
    grid-gap: 20px; /* tamanho do espaço entre as fotinho */
    justify-items: center;
    align-items: center;
}

.image-container {
    position: relative;
    width: 200px;
    height: auto;
    transition: transform 0.3s ease, z-index 0.3s ease;
    z-index: 1;
}
.efeito {
    visibility: hidden;
}

.grid-container img {
    width: 100%; /* pra imagem encher todo espaço */
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.image-container:hover {
    z-index: 10;
}

.image-container:hover img {
    transform: scale(1.15); /* essa é a escala para qual a imagem aumenta quando passa o mouse */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 60, 116, 0.7); /* fundo translúcido da animação */
    color: #f2f2f2;
    padding-top: 15px;
    opacity: 0;
    transition: 0.3s ease;
    z-index: 2;
    border-radius: 10px;
}
.text-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.text-container h3 { /* texto do nome das pessoas*/
    font-size: 20px;
    margin-bottom: 20px; /*espaçamento embaixo da primeira linha */
    text-align: center;
}

.text-container p { /* resto do texto*/
    font-size: 13px; 
    line-height: 1.15;
    text-align: left;
    padding-left: 10px;
}
.text-container .icon-links {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding: 15px;
}

.text-container .icon-links a {
    margin-right: 10px;
    color: #f2f2f2;
    font-size: 24px;
}
.text-container .icon-links a:hover {
    color: var(--cor-hover2); /* Cor desejada ao passar o mouse */
    transition: color 0.3s ease; /* Animação suave de 0.3 segundos */
}


.image-container:hover .overlay {
    opacity: 1;
    transform: scale(1.15); /* aumenta o tamanho do fundo também */
}

/* Animação de tremida */
@keyframes vibrar {
    0% { transform: translateX(0); }
    25% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    75% { transform: translateX(-2px); }
    100% { transform: translateX(0); }
}

.text-container .icon-links a:hover {
    color: var(--cor-hover2);
    transition: color 0.3s ease;
    animation: vibrar 0.3s ease-in-out;
}
/*********  Começo do footer  *********/
footer {
    width: 100%;
    background-color: #444444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--cor-fundo);
    padding: 10px 30px;
    font-size: .8em;
}
footer .footer-icons {
    display: flex;
    gap: 20px;  /* Espaçamento entre os ícones e imagens */
    justify-content: flex-end;  /* Alinha à direita */
}he
footer p {
    width: 80%;
}

.ig-cor {
    color: var(--cor-fundo);
    font-size: 40px;
}

.ig-cor:hover {
    color: var(--cor-hover2);
}
/*********  Fim do footer  *********/
.ig-cor {
    color: var(--cor-fundo);
    font-size: 40px;
}

.ig-cor:hover {
    color: var(--cor-hover2);
}

@media screen and (max-width: 811px) {
    .icon, .iconx {
        font-size: 21px;
        cursor: pointer;
        border: none;
        color: var(--cor-fundo);
        background-color: var(--cor-projeto);
    }
    .icon:hover, .iconx:hover {
        color: var(--cor-hover2);
    }
    .iconx {
        position: absolute;
        background-color: var(--cor-menu-mobile2);
        right: 40px;
        top: 28px;
    }
    .iconxi {
        background-color: var(--cor-menu-mobile2);
    }
    header button {
        display: block;
    }
    .menu ul {
        position: absolute;
        top: 0;
        right: 0;
        justify-content: end;
        display: block;
        margin-right: -200vh;
        padding: 110px 30px;
        height: 100vh;
        background-color: var(--cor-menu-mobile2);
        border: 1px solid rgba(0, 0, 0, 0.352);
        animation-duration: .2s;
    }
    .menu li {
        padding: 10px 0;
        background-color: var(--cor-menu-mobile2);
    }
    .menu a {
        background-color: var(--cor-menu-mobile2);
        display: flex;
        justify-content: center;
    }
    @keyframes showSidebar {
        from {margin-right: -200vh;}
        to {margin-right: 0px;}
    }

    .grid-container {
        padding-left: 7%;
        padding-right: 7%;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* (nº de coluna, largura da coluna) */
    }
    
    .image-container {
        width: 250px;
    }
    .text-container h3 { /* texto do nome das pessoas*/
        font-size: 25px;
    }
    .text-container p { /* resto do texto*/
        font-size: 16px;
    }
    .text-container .icon-links a {
        font-size: 30px;
    }
    .image-container:hover img {
        transform: scale(1.1); /* essa é a escala para qual a imagem aumenta quando passa o mouse */
    }
    .image-container:hover .overlay {
        opacity: 1;
        transform: scale(1.1); /* aumenta o tamanho do fundo também */
    }
    .image-container.active .overlay {
        opacity: 1;
        transform: scale(1.15);
    }
    
    .image-container.active img {
        transform: scale(1.15);
    }
    
}
