:root{
    --cor-fundo: #f2f2f2;
    --cor-fonte: #000000;
    --cor-menu-mobile: #e8e8e8;
    --cor-projeto: #16498C;
    --cor-hover: #0e19e6;
    --cor-fonte2: #f2f2f2;
    --cor-menu-mobile2: #103769;
    --cor-hover2: #397dd4;
    --imagem-fundo-secao2: url('../imagens/membros/imagem_fundo.png');
}
.petcode:root {
    --cor-projeto: #671A99;
    --cor-hover: #671A99;
    --cor-fonte2: #fff;
    --cor-menu-mobile2: #671A99;
    --cor-hover2: #1E90FF;
    --imagem-fundo-secao2: url('../imagens/main/fundo_petcode.png');
}
.alongapet:root {
    --cor-projeto: #ef9b0f;
    --cor-hover: #ef9b0f;
    --cor-fonte2: #000;
    --cor-menu-mobile2: #ef9b0f;
    --cor-hover2: #e9ff58;
    --imagem-fundo-secao2: url('../imagens/main/fundo_alongapet.png');
}