* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #292929;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.titulo {
    margin: 50px 0;
    color: palevioletred;
}
.doces {
    margin-bottom: 60px;
    max-width: 800px;
    width: 100%;
}
.doce {
    color: #DEE2EC;
}
.caixa {
    width: 100%;
    background-color: #636363;
    margin-top: 20px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
}
.info h1{
    color: aliceblue;
    font-size: 27px;
}
.info p{
    color: rgb(197, 197, 197);
}
.info .preco {
    margin-top: 60px;
    color: #7EFD78;
}

img {
    width: 200px;
}

.bolo-titulo {
    color: #DEE2EC;
}
.bolos {
    width: 100%;
    max-width: 800px;
}
.doisbolos {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
}
.bolo {
    width: 100%;
    background-color: #636363;
    border-radius: 30px;
}
.logo {
    width: 100%;
    background-color: black;
    border-radius: 30px;
}
.informacoes {
    padding-left: 20px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.informacoes h1{
    color: aliceblue;
    font-size: 27px;
}
.informacoes p{
    color: #7EFD78;
}



.espaco {
    margin-right: 10px;
}